nav {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    background-color: aqua;
    width: 100%;
    /* position: relative; */
    /* position: sticky; */
    /* position: fixed;
    margin: 24px ; */
    z-index: 999999;
}
nav li{
   list-style: none;
   margin: 0 5px;
}
nav li a {
    text-decoration: none;
    padding: 3px;
    width: 120px;
    background-color: aliceblue;
    display: block;
    margin: 5px 0;
    border-radius: 5px;
}
nav .btn{
    padding: 3px;
    width: 120px;
    background-color: aliceblue;
    display: block;
    margin: 5px 0;
    border-radius: 5px;
    border: none;
    color: red;
}